.shipping_heading{
	margin-bottom: 15px;
}

.form-group{
	margin-bottom: 10px;
}

.custom-label{
	font-size: 14px;
	margin-bottom: 2px;
	font-weight: 600;
	display: block;
}

.form-control{
	display: block;
	width: 90%;
	height: 24px;
	padding: 3px 8px;
	font-size: 15px;
	font-weight: 400;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.product_btns{
	margin: 5px 10px 0px 0px;
	padding: 10px 20px;
}


.btn2{
	background: #1ab39c;
}

@media screen and (max-width: 600px) {
	.shipping_heading {
		margin-top: 10px;
	}

	.form-control {
		width: 96%;
	}

}