.shipping_heading{
	margin-bottom: 15px;
}

.cart_table{
	width: 100%;
	margin-bottom: 15px;
}
.cart_table td{
	padding: 8px;
	border-top: 1px solid #ddd;
}

.product_btns{
	margin: 5px 10px 0px 0px;
	padding: 10px 20px;
}

.btn2{
	background: #1ab39c;
}

.text-right{
	text-align: right;
}

@media screen and (max-width: 600px) {
	.shipping_heading {
		margin-top: 10px;
	}
}