.product_img{
	width: 20%;
	float: left;
}
.img_prod{
	width: 85%;
	height: auto;
}
.product_content{
	width: 80%;
	float: left;
}
.product_heading{
	font-size: 26px;
	margin-bottom: 15px;
}
.product_price{
	font-size: 25px;
	font-weight: 300;
	margin-bottom:15px;
}
.p_desc{
	font-size: 16px;
	margin-bottom: 10px;
}
.spn_desc{
	font-weight: 700;
	margin-left: 5px;
}
.main_desc{
	font-size: 17px;
	margin: 10px 0px;
	text-align: justify;
}

@media screen and (max-width: 600px) {
	
	.product_img{
		width: 100%;
		float: none;
	}
	.img_prod{
		width: 85%;
		height: auto;
		max-width: 275px;
	}
	.product_content{
		width: 100%;
		float: none;
	}
}

